
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.invert {
    filter: invert(1);
}
.bg-black{
    background-color: black;
}

.bg-grey {
    background-color: #121212;
    /* background-color:#7b0606; */
    color: white;
}

.rounded {
    border-radius: 10px;
}

.m-1 {
    margin-bottom: 10px;
}
/* .p-1 {
        padding: 20px;
} */


/* ===== DARK SCROLLBAR ===== */

/* Firefox */
* {
  scrollbar-color: #555 #121212;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 4px solid #121212;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}


.main {
    display: flex;
    height: calc(100vh - 70px); /* header height */
}
